# Environment Configuration
DEBUG=True
HOST=0.0.0.0
PORT=8000

# LLM KEY
OPENAI_API_KEY="your_key_here"
OPENAI_MODEL="gpt-4o-2024-08-06"


# DATABASE
DATABASE_URL=postgresql://postgres:admin@localhost:5432/jouster_db

# in case you want to run the container locally
# DATABASE_URL=postgresql://user:password@host.internal:5432/jouster_db

